<div class="user_main">
  <mat-toolbar>
    <span>Market Data</span>
    <span class="example-spacer"></span>
    <mat-form-field appearance="outline">
      <mat-label>Select Stock</mat-label>
      <mat-select [(value)]="selectedStock">
        <mat-option
          *ngFor="let item of allStocks"
          (click)="selectStock(item)"
          [value]="item.id"
        >
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Select Stock</mat-label>
      <input
        type="text"
        placeholder=""
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of allStocks | async"
          [value]="option.id"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
  </mat-toolbar>
  <ng-container *ngIf="MarketDataArray">
    <table mat-table [dataSource]="MarketDataArray">
      <ng-container *ngFor="let item of tableColumn" [matColumnDef]="item">
        <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="item == 'Open'"> {{ element.open }} </span>
          <span *ngIf="item == 'High'"> {{ element.high }} </span>
          <span *ngIf="item == 'Close'"> {{ element.close }} </span>
          <span *ngIf="item == 'Low'"> {{ element.low }} </span>
          <span *ngIf="item == 'Symbol'">{{ element.stockSymbol }} </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumn"></tr>
    </table>
    <mat-paginator
      (page)="getData($event)"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      [length]="totalLength"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </ng-container>
</div>
<app-nodatafound *ngIf="MarketDataArray && totalLength == 0"></app-nodatafound>
