div {
  text-align: center;
  ion-img {
    width: 100%;
    text-align: center;
    padding-left: 40vw;
    padding-right: 40vw;
    padding-top: 20vh;
    opacity: 0.7;
  }
  p {
    font-size: 16px;
    color: #525252;
    font-weight: 600;
  }
}
