mat-card {
  width: 420px;
  // height: 420px;
  padding: 30px 20px;
  margin: auto;
  text-align: center;

  .logo_img {
    width: 200px;
    margin-bottom: 15px;
  }
  h2 {
    margin-bottom: 5px;
  }
}

.full-width-input {
  width: 100%;
  margin-bottom: 110px;
  padding-top: 20px;
}

ng-otp-input {
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  mat-card {
    width: 100%;
    box-shadow: none;
  }
}
