<div class="content">
  <div class="flex">
    <h1>CSV Import</h1>
    <button mat-icon-button (click)="close()" class="example-icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Select date</mat-label>
    <input
      matInput
      [(ngModel)]="selectDate"
      [max]="maxDate"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div
    *ngIf="!csvFileName"
    class="csvFile"
    (click)="inputClick(fileImportInput)"
  >
    <h2>CSV File Upload</h2>
    <input
      type="file"
      #fileImportInput
      name="File Upload"
      id="csvFileUpload"
      (change)="fileChangeListener($event)"
      accept=".csv"
    />
  </div>
  <div *ngIf="csvFileName" class="csvFile">
    <button
      mat-button
      (click)="removeFileName()"
      color="danger"
      class="file_close"
    >
      <mat-icon>close</mat-icon>
    </button>
    <h4>{{ csvFileName }}</h4>
  </div>

  <br />
  <button mat-stroked-button (click)="saveClick()" color="primary">Save</button>
</div>
