<mat-card>
  <mat-card-header>
    <div mat-card-avatar (click)="loginPage()">
      <mat-icon fontIcon="chevron_left"></mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <img class="logo_img" src="assets/img/indiapredict-logo (1).svg" alt="" />

    <h2 class="commonTitle">Create New Password</h2>
    <p class="commonDesc pTag">
      Your New Password Must Be Differnt from Previously Used Password.
    </p>
    <form [formGroup]="passwordForm" (ngSubmit)="Send()">
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          autocomplete="new-password"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password "
          formControlName="password"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="submitted && f['password'].errors">
          <div *ngIf="f['password'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 8 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="confirm Password"
          formControlName="confirmPassword"
          required
          [ngClass]="{
            'is-invalid': submitted && f['confirmPassword'].errors
          }"
        />
        <mat-error *ngIf="submitted && f['confirmPassword'].errors">
          <div *ngIf="f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors['mustMatch']">
            Passwords must match
          </div>
        </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        class="commonSubmitBtn"
        [disabled]="passwordForm.invalid"
      >
        Send
      </button>
    </form>
  </mat-card-content>
</mat-card>
