<div class="user_main">
  <mat-toolbar>
    <span>Stocks</span>
    <span class="example-spacer"></span>
    <!-- <mat-chip-listbox (change)="roleChange($event)">
      <mat-chip-option>user</mat-chip-option>
      <mat-chip-option>predictor</mat-chip-option>
    </mat-chip-listbox> -->
  </mat-toolbar>

  <table mat-table [dataSource]="usersArray">
    <ng-container *ngFor="let item of tableColumn" [matColumnDef]="item">
      <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="item == 'Name'">
          {{ element.name }}
        </span>
        <span *ngIf="item == 'Price'">
          ₹{{ element?.meta?.['Global Quote']?.['05. price'] }}
        </span>
        <span *ngIf="item == 'Percentage'" class="percentage">
          <ng-container *ngIf="element?.['meta'] && element.flag;else up">
            <mat-icon class="down-icon">arrow_downward </mat-icon>
            {{ element?.['meta']?.['Global Quote']?.['10. change percent'] }}
          </ng-container>
          <ng-template #up>
            <mat-icon class="up-icon">arrow_upward </mat-icon>
            {{ element?.['meta']?.['Global Quote']?.['10. change percent'] }}
          </ng-template>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumn"></tr>
  </table>
  <mat-paginator
    (page)="getData($event)"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    [length]="totalLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
